<ol>

  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose:
    <i>{{animal}}</i>
  </li>
</ol>


<div class="row">
  <div class="Absolute-Center is-Responsive">

    <div style="color:red">
      <span [innerHTML]="errorMessage"></span>
    </div>

    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <form action="" (ngSubmit)="submitEmail()" [formGroup]="forgotPasswordForm">
        <div class="form-group" [ngClass]="{'has-error': displayMessage.email }">


          <input class="form-control" type="text" name='email' placeholder="email" formControlName="email" />
          <span class="help-block" *ngIf="displayMessage.email">
            {{displayMessage.email}}
          </span>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]='!forgotPasswordForm.valid'>Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div>
  Dirty: {{ forgotPasswordForm.dirty }}
  <br> Touched: {{ forgotPasswordForm.touched }}
  <br> Valid: {{ forgotPasswordForm.valid }}
  <br> Value: {{ forgotPasswordForm.value | json }}
</div>