<div class="row">
  <div class="Absolute-Center is-Responsive">

    <div style="font-weight: bold">
      <span [innerHTML]="messageHeader"></span>
    </div>

    <div style="color:red">
      <span [innerHTML]="errorMessage"></span>
    </div>


    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <form action="" (ngSubmit)="registerUser()" [formGroup]="registerForm">

        <div class="form-group" [ngClass]="{'has-error': displayMessage.email }">
          <input class="form-control" type="text" name='email' placeholder="email" formControlName="email" />
          <span class="help-block" *ngIf="displayMessage.email">
            {{displayMessage.email}}
          </span>
        </div>

        <div formGroupName="passwordGroup" [ngClass]="{'has-error': registerForm.get('passwordGroup').errors }">

          <div class="form-group" [ngClass]="{'has-error': displayMessage.password}">
            <input class="form-control" id="passwordId" type="text" placeholder="password" formControlName="password" />
            <span class="help-block" *ngIf="displayMessage.password">
              {{displayMessage.password}}
            </span>
          </div>

          <div class="form-group" [ngClass]="{'has-error': (registerForm.get('passwordGroup.confirmPassword').touched || 
                                    registerForm.get('passwordGroup.confirmPassword').dirty) && 
                                    !registerForm.get('passwordGroup.confirmPassword').valid }">


            <input class="form-control" id="confirmPasswordId" type="password" placeholder="Confirm Password (required)" formControlName="confirmPassword"
            />
            <span class="help-block" *ngIf="(registerForm.get('passwordGroup.confirmPassword').touched || 
                                              registerForm.get('passwordGroup.confirmPassword').dirty) && 
                                              (registerForm.get('passwordGroup.confirmPassword').errors ||
                                              registerForm.get('passwordGroup').errors)">
              <span *ngIf="registerForm.get('passwordGroup.confirmPassword').errors?.required">
                Please confirm your password.
              </span>
              <span *ngIf="registerForm.get('passwordGroup').errors?.match">
                The confirmation does not match the password.
              </span>
            </span>
          </div>

        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]='!registerForm.valid'>Register</button>
        </div>
      </form>
      <div class="form-group">
        <button type="button" class="btn btn-primary btn-block" (click)="hello();" >Go Back to Login Page</button>
      </div>
    </div>
  </div>
</div>

<div>
  Dirty: {{ registerForm.dirty }}
  <br> Touched: {{ registerForm.touched }}
  <br> Valid: {{ registerForm.valid }}
  <br> Value: {{ registerForm.value | json }}
</div>