<div class="row">
  <div class="Absolute-Center is-Responsive">

    <div style="font-weight: bold">
      <span [innerHTML]="messageHeader"></span>
    </div>

    <div style="color:red">
      <span [innerHTML]="errorMessage"></span>
    </div>


    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <form action="" (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">

        <div formGroupName="passwordGroup" [ngClass]="{'has-error': resetPasswordForm.get('passwordGroup').errors }">

          <div class="form-group" [ngClass]="{'has-error': displayMessage.password}">
            <input class="form-control" id="passwordId" type="text" placeholder="password" formControlName="password" />
            <span class="help-block" *ngIf="displayMessage.password">
              {{displayMessage.password}}
            </span>
          </div>

          <div class="form-group" [ngClass]="{'has-error': (resetPasswordForm.get('passwordGroup.confirmPassword').touched || 
                                    resetPasswordForm.get('passwordGroup.confirmPassword').dirty) && 
                                    !resetPasswordForm.get('passwordGroup.confirmPassword').valid }">


            <input class="form-control" id="confirmPasswordId" type="password" placeholder="Confirm Password (required)" formControlName="confirmPassword"
            />
            <span class="help-block" *ngIf="(resetPasswordForm.get('passwordGroup.confirmPassword').touched || 
                                              resetPasswordForm.get('passwordGroup.confirmPassword').dirty) && 
                                              (resetPasswordForm.get('passwordGroup.confirmPassword').errors ||
                                              resetPasswordForm.get('passwordGroup').errors)">
              <span *ngIf="resetPasswordForm.get('passwordGroup.confirmPassword').errors?.required">
                Please confirm your password.
              </span>
              <span *ngIf="resetPasswordForm.get('passwordGroup').errors?.match">
                The confirmation does not match the password.
              </span>
            </span>
          </div>

        </div>
      
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]='!resetPasswordForm.valid'>Submit</button>
        </div>
      </form>
       
    </div>
  </div>
</div>

<div>
  Dirty: {{ resetPasswordForm.dirty }}
  <br> Touched: {{ resetPasswordForm.touched }}
  <br> Valid: {{ resetPasswordForm.valid }}
  <br> Value: {{ resetPasswordForm.value | json }}
</div>